{% extends "base.html" %}

{% block content %}
<div class="flex flex-row">
    <!-- Список пользователей -->
    <div class="w-1/4 bg-gray-200 p-4">
        <h2>Connected Users</h2>
        <ul id='user-list' class="list-none">
        </ul>
    </div>

    <!-- Основной чат -->
    <div class="flex flex-col items-center w-3/4 p-4">
        <h1>WebSocket Chat</h1>
        <h2>Your ID: <span id="ws-id" class="text-green-500"></span></h2>
        <form action="" onsubmit="sendMessage(event)">
            <input class="bg-green-300" type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages' class="list-none mt-4">
        </ul>
        <div id="server-status" class="hidden text-red-500 mt-4"></div> <!-- Поле для вывода сообщения о статусе сервера -->
        <button id="reconnect-btn" class="hidden mt-4 p-2 bg-blue-500 text-white" onclick="reconnect()">Reconnect</button>
    </div>
</div>

<!-- Скрытый элемент для передачи токена -->

<script src="{{ url_for('static', path='js/chat.js') }}"></script>
{% endblock %}
