{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/get_token.css') }}">
{% endblock %}
{% block content %}
<div class="block-block">
  <div class="form ">
    <h1 class="title1">Connect to WebSocket Chat</h1>

    <!-- Проверка, передано ли сообщение об ошибке -->
    {% if message %}
    <div class="text-red-500">
        {{ message }}: {{ token }}
    </div>
    {% endif %}

    <form class="form1" action="/pages/chat" method="POST">
        <div for="token">Enter your token:</div>
        <input type="text" id="token" name="token" required />
        <button class="button" type="submit">Connect</button>
    </form>
</div>
</div>

{% endblock %}