{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
<script src="{{ url_for('static', path='js/login.js') }}"></script>
{% endblock %}
{% block content %}
<div class="main">
  <div class="form">
    <h1 class="title1">Login</h1>

    <!-- Сообщение об ошибке, если учетные данные неверны -->
    {% if message %}
    <div class="text-red-500">{{ message }}</div>
    {% endif %}

    <form class="form-form" id="loginForm" method="POST">
      <div class="flex">
        <div for="username">Email:</div>
        <input type="text" id="username" name="username" required />
      </div>

      <div class="flex">
        <div for="password">Password:</div>
        <input type="password" id="password" name="password" required />
      </div>


        <button class="button" type="submit">Login</button>
    </form>
</div>
</div>
{% endblock %}