{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center justify-center h-screen">
    <h1>Login</h1>
    
    <!-- Сообщение об ошибке, если учетные данные неверны -->
    {% if message %}
    <div class="text-red-500">{{ message }}</div>
    {% endif %}
    
    <form id="loginForm" method="POST">
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>
    </form>
</div>
<script src="{{ url_for('static', path='js/login.js') }}"></script>

{% endblock %}
